html,body{
    margin: 0;
    padding: 0;
    height: 100%;
}
.signin{
background: linear-gradient(176.78deg, #4DE2F6 34.86%, #F4F4F4 90.4%);
width: 100vw;
height: 100vh;
display: flex;
    align-items: center;
    justify-content: center;
}